body {
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
#main{
    background-color: #03989e;
    margin: auto;
    align-items: center;
    min-height: 700px;
}

#button-orange {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #4c1f02;
    font-weight: bold;
    background-color: #ff7a00;
    border-radius: 30px;
    padding: 15px;
}

#margin {
    margin-top: 10px;   
}

.link-none-decoration {
    color: #f2f2f2;
}
.user{
     
    font-family: "Nunito", sans-serif;
    color: #e9e9e9;
    font-weight: bold;
    margin: 10px;
}

#logo {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 10px;
}

#align {
    margin: 5px;
}
#topo{
    width: 100%;
}

.frame{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}

.button-white{
    font-family: "Nunito", sans-serif;
    font-size: auto;
    background-color: #e9e9e9;
    width: auto;
    margin: 0.1em;
    color: #4c1f02;
    border-radius: 20px;
    padding: 0% 2% 0% 2%;
}
.input{
    font-size: 1.2em;
    padding: 6px;
    width: 98%;
    box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;

}

@media(max-width: 500px) {
    .button-white{
        font-family: "Nunito", sans-serif;
        font-size: 13px;
        background-color: #e9e9e9;
        width: auto;
        margin: 0.1em;
        color: #4c1f02;
        border-radius: 20px;
        padding: 0% 2% 0% 2%;
    }
}

.align{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}
.img-hover:hover{
    background-color: rgb(137, 137, 137);
    border-radius: 15px;
}
