body {
    background-color: #03989e !important;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}

#button-orange {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    color: #4c1f02;
    font-weight: bold;
    background-color: #ff7a00;
    border-radius: 30px;
    padding: 15px;
}

#margin {
    margin-top: 10px;   
}

.link-none-decoration {
    color: #f2f2f2;
}

#logo {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 10px;
}

#align {
    margin: 5px;
}